<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#check_in").datepicker();
                $("#check_out").datepicker();
            });
        </script>
    </head>
    <body>
        <h1>Book
            {{ room.room_type }}</h1>
        <form method="POST">
            <label for="check_in">Check In:</label>
            <input type="text" id="check_in" name="check_in">

            <label for="check_out">Check Out:</label>
            <input type="text" id="check_out" name="check_out">

            <button type="submit">Check Availability</button>
        </form>

        {% if is_available %}
            <p>This room is available for your selected dates.</p>
        {% else %}
            <p>This room is unavailable for your selected dates.  Please choose different dates.</p>
        {% endif %}

    </body>
</html>

