<!DOCTYPE html>
<html lang="en">
    <head></head>
    <body>
        <header></header>

        <section class="hero"></section>

        <section class="featured-rooms">
            <h2>Featured Rooms</h2>
            <div class="room-grid">
                {% for room in featured_rooms %}
                    <div class="room-card">
                        <img src="{{ room.image.url }}" alt="{{ room.room_type }} Room">
                        <h3>{{ room.room_type }}</h3>
                        <p>{{ room.price }}</p>
                    </div>
                {% endfor %}
            </div>
        </section>
        <section class="search-section">
            <h2>Find Your Ideal Room</h2>
            <form action="{% url 'search-results' %}" method="GET">
                <input type="text" name="location" placeholder="Location">
                <input type="date" name="check_in">
                <input type="date" name="check_out">
                <button type="submit">Search</button>
            </form>
        </section>


        <footer></footer>
    </body>
</html>
